.form-control:not(#name):not(#photo) {
	width: 25%;
}

#match-img {
	display: table;
	margin: auto;
	width: 250px;
}

.modal-header {
	text-align: center;
	display: block;
}

h1 {
	border-bottom: 2px solid black;
}